openapi: 3.0.3
info:
  title: Snov.io Authentication Prospects API
  description: 'Snov.io sales engagement REST API. Authentication uses the OAuth2 client_credentials grant to exchange an API User ID (client_id) and API Secret (client_secret) for a one-hour Bearer access token. Email finder, domain search, and email verification use an asynchronous pattern: a POST to a `/start` endpoint returns a `task_hash`, then a GET to the matching `/result` endpoint retrieves the outcome. Most request bodies are application/x-www-form-urlencoded; a few v2 endpoints accept JSON. The API is rate limited to 60 requests per minute.'
  termsOfService: https://snov.io/terms-and-conditions
  contact:
    name: Snov.io Support
    url: https://snov.io/api
  version: '1.0'
servers:
- url: https://api.snov.io
  description: Snov.io production API
security:
- OAuth2: []
tags:
- name: Prospects
paths:
  /v1/get-user-lists:
    get:
      operationId: getUserLists
      tags:
      - Prospects
      summary: List the user's prospect lists
      responses:
        '200':
          description: The user's prospect lists.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
  /v1/lists:
    post:
      operationId: createList
      tags:
      - Prospects
      summary: Create a new prospect list
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: The created list.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v1/prospect-list:
    post:
      operationId: getProspectList
      tags:
      - Prospects
      summary: View prospects in a list
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - listId
              properties:
                listId:
                  type: integer
                page:
                  type: integer
                perPage:
                  type: integer
      responses:
        '200':
          description: Prospects contained in the list.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v1/add-prospect-to-list:
    post:
      operationId: addProspectToList
      tags:
      - Prospects
      summary: Add a prospect to a list
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - email
              - listId
              properties:
                email:
                  type: string
                  format: email
                fullName:
                  type: string
                firstName:
                  type: string
                lastName:
                  type: string
                position:
                  type: string
                companyName:
                  type: string
                listId:
                  type: integer
      responses:
        '200':
          description: The prospect added to the list.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 client_credentials flow. POST client_id and client_secret to /v1/oauth/access_token to obtain a Bearer token, then send it in the Authorization header.
      flows:
        clientCredentials:
          tokenUrl: https://api.snov.io/v1/oauth/access_token
          scopes: {}
